# Folder #
/target/
/.settings/

# Files #
.DS_Store
*/.DS_Store
*.class
*.classpath
*.project

# Package Files #
*.jar
*.war
*.ear
/src/main/resources/twitterProps.properties
/src/main/resources/redisProps.properties